:root {
  --color-pink: #f2d7ee;
  --color-off-black: #2c302e;
  --color-green: #9ae19d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: #000;
  background-color: var(--color-pink);
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

.wrapper {
  max-width: 90vw;
  margin: 0 auto;
}
